[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
fbs = ">=0.8.6"
pypiwin32 = {sys_platform = "== 'win32'"}

[packages]
pyqt5 = ">=5.15.0"
pynput = ">=1.6.8"

[requires]
python_version = "3.6"
